<!--  -->
<!DOCTYPE html>
<html lang="en">
    
    
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>medstore_management</title>
        
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        
        
        
        
    </head>
    
    <body>
        <link rel="stylesheet" href="{% static '/js/add_emp.css' %}">
        
        
        <div class="container-fluid mt-3" >
            
            <div class="container-fluid mt-3 row" id="main_menu">
                
                
                <!-- sales_button -->                
                
                <div class="btn btn-outline-secondary dropdown col" data-bs-toggle="dropdown">   
                    
                    <div class="dropdown col">
                        <img src="{% static '/js/sales.png' %}" alt="sales">   
                        <h3 >SALES</h3>   
                    </div>        
                    
                    <ul class="dropdown-content">
                        <li class="dropdown-item"><a href="{% url 'medstore:new_bill' %}"> NEW BILL </a></li>
                        <li class="dropdown-item"><a href="{% url 'medstore:sales_report' %}">SALES REPORT</a></li>
                    </ul>
                </div>
                
                <!-- dealer_button -->  
                
                <div class="btn btn-outline-secondary dropdown col" data-bs-toggle="dropdown">   
                    <div class="dropdown col">
                        <img src="{% static '/js/dealer.png' %}" alt="dealer">                   
                        <h3>DEALER</h3>                       
                    </div>        
                    
                    <ul class="dropdown-content">
                        <li><a class="dropdown-item" href="{% url 'medstore:view_dealer' %}">VIEW DEALER</a></li>
                        <li><a class="dropdown-item" href="{% url 'medstore:add_dealer' %}">ADD DEALER</a></li>                    
                    </ul>
                    
                </div>
                
                <!-- medicine_button -->
                
                <div class="btn btn-outline-secondary dropdown col" data-bs-toggle="dropdown">   
                    <div class="dropdown col">
                        <img src="{% static '/js/medicine.png' %}" alt="medicine">   
                        <h3>MEDICINE</h3>                        
                    </div>        
                    
                    <ul class="dropdown-content">
                        <a class="dropdown-item" href="{% url 'medstore:view_med' %}"> VIEW MEDICINE</a>
                        <a class="dropdown-item" href="{% url 'medstore:add_med' %}">ADD MEDICINE</a>                       
                    </ul>
                </div>
                
                <!-- purchase_button -->
                
                <div class="btn btn-outline-secondary dropdown col" data-bs-toggle="dropdown">   
                    <div class="dropdown col">
                        <img src="{% static '/js/purchase.png' %}" alt="PURCHASE">   
                        <h3 >PURCHASE</h3>                            
                    </div>        
                    
                    <ul class="dropdown-content">
                        <a class="dropdown-item" href="{% url 'medstore:view_purchase' %}"> VIEW PURCHASE</a>
                        <a class="dropdown-item" href="{% url 'medstore:add_purchase' %}">ADD PURCHASE</a>                     
                    </ul>
                </div>
                
                <!-- employee_button -->      
                
                <div class="btn btn-outline-secondary dropdown col" data-bs-toggle="dropdown">   
                    <div class="dropdown col">
                        <img src="{% static '/js/employee.png' %}" alt="employee">   
                        <h3>EMPLOYEE</h3>                           
                    </div>        
                    
                    <ul class="dropdown-content">                
                        <a class="dropdown-item" href="{% url 'medstore:view_emp' %}">VIEW EMPLOYEE</a>
                        <a class="dropdown-item" href="{% url 'medstore:add_emp' %}">ADD EMPLOYEE</a>
                    </ul>
                </div>
                
                <!-- customers_button -->
                
                <div class="btn btn-outline-secondary dropdown col" data-bs-toggle="dropdown">   
                    
                    <div class="dropdown col">
                        <img src="{% static '/js/customer.png' %}" alt="customers">   
                        <h3 >CUSTOMERS</h3>                      
                    </div>        
                    
                    <ul class="dropdown-content">                    
                        <a class="dropdown-item" href="{% url 'medstore:view_cust' %}">VIEW CUSTOMERS</a>
                        <a class="dropdown-item" href="{% url 'medstore:add_cust' %}">ADD CUSTOMERS</a>                        
                    </ul>
                </div>
                
                
            </div>
            
        </div>
        
        <div class="container" id="add_dealer">
            <div class="col-md-2"></div>
            <div >
                <div >
                    <h1>
                        {% if add %}
                        Add Employee Details
                        {% else %}
                        Update Employee Details
                        {% endif %}
                    </h1>
                </div>
                <div>
                    <!--------------------------------------------------------0001--------------------------------------->
                    
                    {% if emp %}
                    <form action="/empformupdate/{{ emp.id }}" method="post">
                        {% csrf_token %}
                        <div>
                            <div class="col-md-3 padtop5">
                                <label for="fname" class="form-control-label"> First Name:</label>
                            </div>
                            <div >
                                <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name"
                                value="{{ emp.fname }}" required />
                            </div>
                        </div>
                        <div>
                            <div class="col-md-3 padtop5">
                                <label for="lname" class="form-control-label"> Last Name:</label>
                            </div>
                            <div >
                                <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name"
                                value="{{ emp.lname }}" />
                            </div>
                        </div>
                        
                        <div>
                            <div>
                                <label for="address" class="form-control-label">Address:</label>
                            </div>
                            <div >
                                <input type="text" class="form-control" id="address" placeholder="Address" name="address"
                                value="{{ emp.address }}" />
                            </div>
                        </div>
                        
                        <div>
                    
                            <div>
                                <label for="phn_no" class="form-control-label">Phone Number:</label>
                            </div>
                            <div >
                                <input type="text" name="pno" class="form-control" id="phn_no" placeholder="Contact Number"
                                    value="{{ emp.phn_no }}" required />
                            </div>
                        </div>
                                                
                        <div>
                            <div>
                                <label for="sal" class="form-control-label"> Salary:</label>
                            </div>
                            <div >
                                <input type="text" name="sal" class="form-control" id="sal" placeholder="Salary"
                                value="{{ emp.sal }}" required />
                            </div>
                        </div>
                        
                        
                        <div >
                            <div>
                                <label for="email" class="form-control-label ">Email:</label>
                            </div>
                            <div>
                                <input type="text" name="email" class="form-control" id="email" placeholder="Email"
                                value="{{ emp.email }}" />
                            </div>
                            
                        </div>

                        <!-- button -->
                        <div class="col" id="buttoncustom">
                            
                            <div class="col-md-1"></div>                        
                            <div>
                                <button type="submit" class="btn btn-outline-secondary">
                                    <a href="{% url 'medstore:index' %}">Cancel</a></button>
                                </div>
                                
                                <div>
                                    <button type="submit" class="btn btn-primary">
                                        {% if add %}
                                        Add Record
                                        {% else %}
                                        Update Record
                                        {% endif %}
                                    </button>
                                </div>
                                
                                <div>
                                    
                                    <button type="submit" class="delbut btn btn-danger">
                                        
                                        <a href="/empformdelete/{{ dealer.id }}">Delete Record {{ foo.id }}</a>
                                        
                                    </button>
                                </div>
                                
                            </div>
                        </form>
                        <!----------------------------------------00002-------->
                        {% else %}
                        
                        <form action="{% url 'medstore:empforminsert' %}" method="post">
                            {% csrf_token %}
                            
                            <div class="row padtop15">
                                <div class="col-md-3 padtop5">
                                    <label for="fname" class="form-control-label"> First Name:</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="fname" class="form-control" id="fname" placeholder="First Name"
                                    value="" required />
                                </div>
                            </div>
                            
                            <div class="row padtop15">
                                <div class="col-md-3 padtop5">
                                    <label for="lname" class="form-control-label"> Last Name:</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="lname" class="form-control" id="lname" placeholder="Last Name"
                                    value="" />
                                </div>
                            </div>
                            
                            <div class="row padtop5">
                                <div class="col-md-3 padtop5">
                                    <label for="address" class="form-control-label">Address:</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="address" placeholder="Address" name="address" />
                                </div>
                            </div>
                            
                            
                            <div class="row padtop5">
                                <div class="col-md-3 padtop5">
                                    <label for="phn_no" class="form-control-label  ">Phone Number:</label>
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="pno" class="form-control" id="phn_no" placeholder="Contact Number"
                                        required />
                                </div>
                            </div>
                            
                            <div class="row padtop5">
                                <div class="col-md-3 padtop5">
                                    <label for="sal" class="form-control-label">Salary:</label>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="sal" placeholder="Salary" name="sal"
                                     required />
                                </div>
                            </div>
                            
                            <div class="row padtop5">
                            <div class="col-md-3 padtop5">
                                <label for="email" class="form-control-label ">Email:</label>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="email" class="form-control" id="email" placeholder="Email" />
                            </div>
                            </div>
                                                    
                            <!-- button -->
                            <div class="col" id="buttoncustom">                                                   
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-outline-secondary">
                                        <a href="{% url 'medstore:index' %}">Cancel</a>
                                    </button>
                                </div>
                                
                                <div class="col-md-2 padtop25">
                                    <button type="submit" class="btn btn-outline-success">
                                        {% if add %}
                                        Add Record
                                        {% else %}
                                        Update Record
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        
                        </form>
                    
                    {% endif %}
                </div>
                
            </div>
            
        </div>
        
        <!---------------------->
        
</body>         